
.CodeMirror {
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.errors {
  border: 1px solid red;
}

.TODO::before {
  content: "TODO: ";
  font-weight: bold;
}

.TODO {
  color: red;
  display: none;
}

.DEFERRED::before {
  content: "Deferred: ";
  font-weight: bold;
}

.DEFERRED {
  color: green;
  display: none;
}

.example {
  margin: 0 auto;
  text-align: center;
}

.placeholder {
  background-color: #eee;
  position: relative;
}

.placeholder::before {
  content: "loading...";
  color: #aaa;

  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.nav-list {
  padding-left: 8px;
  padding-right: 0px;
}

.nav-list li {
  line-height: 10px;
  font-size: 90%;
}

pre.mermaid {
  margin: 0 auto;
  background-color: transparent;
  border: none;
}

pre.mermaid span {
  text-shadow: none;
}

body {
  margin-bottom: 30px;
}

@media (prefers-color-scheme: light) {
  body {
    color: #333;
    background-color: #fff;
  }

  code, pre {
    color: #333;
    background-color: #eee;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background-color: #222;
  }

  code, pre {
    color: #eee;
    background-color: #333;
  }
}

#references-container {
  padding-left: 1.5em;
  text-indent:-1.5em;
}
